*
{
    padding: 0;
    margin: 0;
    list-style: none;
}

body, html{height:100%;}    

#main
{
    min-height:100%;
    position:relative;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section
{
    background-color: hsl(217, 19%, 24%);
    height: 350px;
    width: 95%;
    max-width: 600px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section p:first-child
{
    margin-top: 50px;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: bolder;
}

#quote
{
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    width: 95%;
}

#img1
{
    margin-top: 50px;
}

#img2
{
    display: none;
}

button
{
    border: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    cursor: pointer;
    top: 315px;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover
{
    box-shadow: 0 0 40px hsl(150, 100%, 66%);
}

button img
{
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 600px)
{
    #quote
    {
        font-size: 24px;
    }

    #img1
    {
        display: none;
    }

    #img2
    {
        display: block;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 350px)
{
    #quote
    {
        font-size: 20px;
    }

    #img1
    {
        display: none;
    }

    #img2
    {
        display: block;
        margin-top: 20px;
        width: 80%;
    }
}